

@base:#ffffff;
body{

    background-image: url(https://i.ytimg.com/vi/BCjLYVuLE88/maxresdefault.jpg );
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: 125px;
    background-size: 50px,50px;
    opacity:1;
    background-color: @base;

    text-align: center;
    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    color: black;
    text-shadow: 0  0 30px black;
}
h2{
    font-size:30px;
    color:black;
}
p{
    text-shadow:0 0 3px rgb(51, 1, 1);
}
img {
    max-height: 300px;
    max-width: 300;
    border-radius: 15px;
    float:center;
    box-shadow: 0 0 5px rgb(5, 3, 5);
}
ul{
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    
    
}
p:first-letter{
    color: #903;
    float: center;
    font-family: Georgia;
    font-size: 65px;
    line-height: 50px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
   
}