@font-face {
  font-family: "myfont";
  src: url('https://fonts.googleapis.com/css?family=Pacifico');
}
header {
  display: block;
  border-bottom: 3px solid gray;
}
body {
  background-color: #b2b2c3;
  font-family: fantasy;
}
@keyframes slidingtitle {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(-25%);
  }
  67% {
    transform: translateX(25%);
  }
}
h1 {
  text-align: center;
  animation-name: slidingtitle;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  color: pink;
  text-transform: uppercase;
  font-family: 'Pacifico', cursive;
}
h1 + p {
  text-align: center;
  font-size: 20px;
  opacity: 0.7;
  text-shadow: 5px 5px 5px yellow;
}
hr {
  height: 5px;
  background-color: gray;
}
img {
  max-width: 400px;
  outline: yellow dotted 8px;
  display: block;
  margin: auto;
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
  transition: transform 2s ease;
}
img:hover {
  outline: yellow dotted 20px;
  transform: rotate(180deg);
}
ul {
  padding-left: 2rem;
  font-size: 20px;
  list-style-type: none;
}
ul li {
  padding-left: 2rem;
  background-image: url(http://www.clker.com/cliparts/2/f/a/d/1227974557455141889pitr_Candy_icon.svg);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}
a:hover {
  background-color: blue;
}
main > p:first-child:first-letter {
  font-size: 50px;
}
