@font-face {
  font-family: "myfont";
  src: url('https://fonts.googleapis.com/css?family=Pacifico');
}
body {
  background-color: #b2b2c3;
  font-family: fantasy;
}
h1 {
  text-align: center;
  color: pink;
  text-transform: uppercase;
  font-family: 'Pacifico', cursive;
}
h1 + p {
  text-align: center;
  font-size: 20px;
  opacity: 0.7;
  text-shadow: 5px 5px 5px yellow;
}
p:before {
  content: "☼ ";
}
p:after {
  content: " ☼";
}
hr {
  height: 5px;
  background-color: gray;
}
img {
  max-width: 400px;
  outline: yellow dotted 8px;
  display: block;
  margin: auto;
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
}
img:hover {
  outline: yellow dotted 20px;
}
ul {
  padding-left: 2rem;
  font-size: 20px;
  list-style-type: none;
}
ul li {
  padding-left: 2rem;
  background-image: url(http://www.clker.com/cliparts/2/f/a/d/1227974557455141889pitr_Candy_icon.svg);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}
a:hover {
  background-color: blue;
}
main > p:first-child:first-letter {
  font-size: 50px;
}
