body {
  text-align: center;
  background-color: #1f1f1f;
}
img {
  border-radius: 350px;
  image-rendering: 70%;
  border-image-slice: 270px;
}
h1 {
  background: -webkit-linear-gradient(green, red, purple, brown, yellow, blue, lightgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: cursive;
}
h2 {
  color: #ffffff;
  text-decoration-style: solid;
  font-family: cursive;
  margin-top: 3px;
  margin-bottom: 3px;
}
p {
  color: #ffffff;
  text-decoration-style: solid;
  font-family: cursive;
  margin-top: 3px;
  margin-bottom: 3px;
}
#titelval {
  color: #ffffff;
  text-decoration-style: dashed;
  font-family: cursive;
  margin-top: 15px;
  margin-bottom: 5px;
}
a {
  color: #ffffff;
  font-family: cursive;
  text-decoration: none;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
