* {
  text-align: center;
  background-color: black;
  cursor: crosshair;
}
h1 {
  font-family: Impact;
  color: #421e19;
  font-size: 48pt;
  margin-bottom: 0px;
}
img {
  max-height: 300px;
  max-width: 500px;
  border: 1px solid maroon;
}
a:link {
  font-size: 150%;
  color: white;
}
a:visited {
  font-size: 150%;
  color: pink;
}
a:hover {
  color: red;
}
p {
  font-size: 12pt;
  font-family: times new roman;
  color: red;
}
h2 {
  font-size: 25pt;
  color: maroon;
  margin-top: 4px;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500pt;
  width: 400pt;
  border: 1px solid maroon;
}
